<h1 class="pageTitle">ReSTed - $file</h1>
<script type="text/javascript" src="/include/ckeditor/ckeditor.js"></script>
<form id="form" method="post" action="/save">
<textarea class="ckeditor" name="html">
$html
</textarea>
<input type="hidden" name="file" value="$file"/>

</form>
<input id="back" type="submit" value="Back" class="button back"/><input id="save" type="submit" value="Save" class="button save"/>
#if $message
<div class="message">
<h3>Information</h3>
$message</div>
<script type="text/javascript">
jQuery(document).ready(function(){
	setTimeout(function(){
		jQuery(".message").fadeOut('slow');
	},5000);
});
</script>
#end if
<script type="text/javascript">
jQuery(document).ready(function(){
	jQuery("#back").click(function(){
		window.location.replace("/");
	});

	jQuery("#save").click(function(){
		jQuery("#form").submit();
	});
});

</script>