#if $showBack
<ul id="nav" class="filelist">
	<li><a class="back" href="/">Back to home</a></li>
</ul>	
#end if
#set $x = 0
<ul id="dirs" class="filelist">
#for $dir in $directories
	#if $x%2==0
		#set $alt = "altfilerow"
	#else
		#set $alt = "filerow"	
	#end if
	<li class="$alt"><a href="/browse/$dir">$dir</a></li>
	#set $x = $x +1
#end for
</ul>
<ul id="files" class="filelist">
#for $file in $files
	#if $x%2==0
		#set $alt = "altfilerow"
	#else
		#set $alt = "filerow"	
	#end if
	<li class="$alt"><a href="/edit/$file">$file</a></li>
	#set $x = $x +1
#end for
#for $img in $images
	#if $x%2==0
		#set $alt = "altfilerow"
	#else
		#set $alt = "filerow"	
	#end if
	<li class="$alt"><a class="image" href="/preview/$img">$img</a></li>
	#set $x = $x +1
#end for
</ul>